

<div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="ISBN" placeholder="Search by ISBN " >
        <input type="submit" value="Search">
    </form>
</div>
<p>Register your books here <a href="{% url 'register_book'  %}">register</a> </p>
<div>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Author origin</th>
            <th>Genre</th>
            <th>Published Date</th>
            <th>Received Date</th>
            <th>Cost Price</th>
            <th>Number of pages</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.book_title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.author_origin }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.published_date }}</td>
                <td>{{ book.date_received }}</td>
                <td>{{ book.cost_price }}</td>
                <td>{{ book.number_of_pages }}</td>
                <td>
                    <a href="{% url 'edit_book' book.pk %}">Edit</a> |
                    <a href="{% url 'book_detail' book.pk %}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
    
